.login {
    display: flex;
    height: 100vh;
    flex-direction: column;

    &_form {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: clamp(15px, 3vw, 25px);
        justify-content: center;
        align-items: center;

        &_title {
            color: #FFF;
            font-family: "Kelly Slab";
            font-size: clamp(24px, 3vw, 32px);
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &_inputs {
            input {
                margin-bottom: 8px;

                &:nth-child(2) {
                    margin-bottom: 0;
                }
            }

            .input_error {
                margin-top: 5px;
                color: rgb(210, 0, 0);
                font-family: "Kelly Slab";
                font-size: clamp(12px, 3vw, 16px);
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            .reset_pass {
                margin-top: 5px;
                display: inline-block;
                color: #FFF;
                font-family: "Kelly Slab";
                font-size: clamp(12px, 3vw, 16px);
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-decoration-line: underline;
            }
        }
    }
}