@font-face {
    font-family: 'Kelly Slab';
    src: local('Kelly Slab'), local('KellySlab-Regular'), url('kellyslab.woff2') format('woff2'), url('kellyslab.woff') format('woff'), url('kellyslab.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
